<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86dec2">  <td>19/02/05 02:08:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass.LaunchApp()[pri:0, instance:com.DemoApp.testscripts.HomePageTest@587d1d39]">LaunchApp</td> 
  <td>main@1131645570</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/05 02:09:06</td>   <td>40814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.homePageCheck()[pri:0, instance:com.DemoApp.testscripts.HomePageTest@587d1d39]">homePageCheck</td> 
  <td>main@1131645570</td>   <td></td> </tr>
</table>
